

body{

}

ul, li{
    display: block;
    margin: 0;
    padding: 0;
}

h1, h2{
    font-weight: 700;
}

h3{
    font-weight: 400;
}

.title{
    padding-top: 30px;
    padding-bottom: 70px;
    color: #333333;
}

.title_main{
    font-size: 32px;
}

.title_text{
    font-size: 17px;
    margin-top: 10px;
}

/* Header */
.header{
    background-color: #3b3c3e;
}

.menu{
    margin-top: 10px;
}

.menu__item{
    margin: 0 15px;

}

.menu__item a{
    font-size: 13px;
    color: #ffffff;
    font-weight: 700;
}

.menu__item a:hover{
    color: #ffffff;
}

.offer{
    margin-top: 150px;
    margin-bottom: 50px;
}

.offer_title{
    font-size: 60pt;
   
}

.offer_text{
    color: #e5e5e5;
    font-size: 20pt;
    
}

.free_one{
    margin-right: 10px;
}

/* Card-info */

.card-info{
    margin-top: 20px;
}

.name{
    color: rgb(71, 121, 196);
}

span{
    inline-block;
}

/* Card footer */

.card-footer{
    margin-top: 30px;
}

#s{
    visibility: hidden;
}

#x{
    visibility: hidden;
}