<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
    <header class='header' id='header'>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 ml-auto menu">
                    <a href="/">
                        <img src="{{ url_for('static', filename='image/ic-logo-dark.png')}}" alt="logo" class="logo">
                    </a>
                </div>
                <div class="col-lg-8 ">
                    <nav>
                        <ul class="menu d-flex justify-content-center">
                            <li class="menu__item">
                                <a href="#">Парсер</a>
                            </li>
                            <li class="menu__item">
                                <a href="#advantages">Приемущества</a>
                            </li>
                            <li class="menu__item">
                                <a href="#about">Почему Авито</a>
                            </li>
                            <li class="menu__item">
                                <a href="#result">Что Вы получите</a>
                            </li>
                            <li class="menu__item">
                                <a href="#how-work">Как мы работем</a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-7 mx-auto  text-center">
                    <div class="offer">
                        <h1 class="offer__title">
                                Парсер объявлений авито
                        </h1>
                        <p class="offer__text">
                                Парсинг телефонов с AVITO.ru — это один из самых эффективных способов быстро найти клиентов. Вы получаете актуальную базу для поиска новых клиентов, таргетированную по интересам.
                        </p>
                    </div>
                    <div class="button  button_one">
                            <a class="btn btn-primary free_one" href="#" role="button">Попробовать бесплатно</a>
                            <a class="btn btn-primary" href="#" role="button">Полная версия</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="advantages" id="advantages">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                        <div class="title text-center">
                            <h2 class="title_main">Приемущества работы с нами</h2>
                            <p class="title_text">Cобирай самые свежие данные с Авито прямо онлайн </p>
                        </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-4">
                    <div class="feature">
                        <i class="fa fa-clock-o feature_icon"></i>
                        <h5>Работем 24/7</h5>

                    </div>
                </div>
                <div class="col-lg-4">
                        <div class="feature">
                                <i class="fas fa-ruble-sign feature_icon"></i>
                            <h5>Цена 3 копейки за объявление</h5>
    
                        </div>
                    </div>
                    <div class="col-lg-4">
                            <div class="feature">
                                <i class="fas fa-database feature_icon"></i>
                                <h5>Только свежие онлайн данные</h5>
        
                            </div>
                        </div>
            </div>
        </div>
    </section>
    <section class="about" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex">
                    <div class="title_about1">
                        <h2>Почему Авито?</h2>
                        <hr>
                        <hr>
                        <p class="p-about">Авито это доска обьявлений №1 в Россиию На ней размещены объявления о товарах и услугах от частных лиц и компаний.Автомобили, недвижимость, работа, одежда, электроника, техника, мебель, животные и многое другое.База авито содерит более 40млн активных объявлений. Парсинг телефонов с AVITO.ru - это один из самых эффективных способов быстро найти клиентов. Вы получаете актуальную базу для поиска новых клиентов, таргетированную по интересам.</p>
                    </div>
                </div>
                <div class="col-lg-5 ml-auto">
                    <div class="use_avito">
                        <h2>Для чего нужны данные с авито</h2>
                        <hr class="green">
                        <ul class="about_list">
                            <li class="d-flex">
                                <i class="fas fa-check-circle"></i>
                                <p>СМС рассылки</p>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-check-circle"></i>
                                <p>Холодные звонки</p>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-check-circle"></i>
                                <p>Таргетинг на других площадках</p>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-check-circle"></i>
                                <p>Для аналитики</p>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-check-circle"></i>
                                <p>Viber рассылка</p>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-check-circle"></i>
                                <p>WhatsApp рассылка</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row button-two">
                <div class="col-lg-12 text-center">
                    <div class="button">
                        <a class="btn btn-primary" href="#" role="button">Попробовать бесплатно</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="result" id="result">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="title_result">
                        <h3>Список полей для выгрузки</h3>
                        <hr>
                        <hr>
                        <ul>
                            <li class="d-flex">
                                <i class="fas fa-check-circle"></i>
                                <p>Телефон объявления</p>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-check-circle"></i>
                                <p>Контактное лицо</p>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-check-circle"></i>
                                <p>Цена объявления</p>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-check-circle"></i>
                                <p>Заголовок объявления</p>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-check-circle"></i>
                                <p>Город, район, метро, адрес</p>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-check-circle"></i>
                                <p>WhatsApp рассылка</p>
                            </li>
                        </ul>
                        <div class="button text-center btn-result">
                            <a class="btn btn-primary" href="#" role="button">Скачать пример CSV фаила</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="img-result">
                        <img class="img-fluid" src="{{ url_for('static', filename='image/123.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="how-work" id="how-work">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title text-center">
                        <h2>КАК МЫ РАБОТАЕМ</h2>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-3">
                    <div class="icobox-icon">1</div>
                    <h3>Выбор</h3>
                    <p>Выберите на сайте Авито нужную категорию и фильтры</p>
                </div>
                <div class="col-lg-3">
                    <div class="icobox-icon">2</div>
                    <h3>Загрузка</h3>
                    <p>Вставьте ссылку с Авито в парсер на сайте</p>
                </div>
                <div class="col-lg-3">
                    <div class="icobox-icon">3</div>
                    <h3>Оплата</h3>
                    <p>Оплатите рассчитанную стоимость</p>
                </div>
                <div class="col-lg-3">
                    <div class="icobox-icon">4</div>
                    <h3>Готово</h3>
                    <p>Получите ссылку на собранные данные</p>
                </div>
            </div>
            <div class="row btn5">
                <div class="col-lg-12">
                    <div class="button text-center">
                        <a class="btn btn-primary" href="#" role="button">Полная версия<i class="far fa-money-bill-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="row p-work">
                <div class="col-lg-12">
                    <p>Мы не используем готовые базы данных. Вся информация собирается онлайн напрямую с сайта Авито, и передается Вам в файле. Срок хранения файла на сервере не более суток.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="block_free" id="block_free">
        <div class="container">
            <div class="row text-center d-flex justify-content-center">
                <div class="col-lg-12">
                        <h2 class="">ПОЛУЧИТЬ БЕСПЛАТНЫЙ ОБРАЗЕЦ</h2>
                        <p class="">Для бесплатного скачивания действует ограничение - не более 20 объявлений. 
                                Для больших объемов перейдите на платную версию. </p>
                        <p class="red">Данные из платной категории Работа/Резюме сохраняются по запросу на почту (пишите info@avito-parser.ru)</p>  
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row free_form">
                <div class="col-lg-12">
                    {% block content %}
                        <form action="" method="POST">
                            {{ form.hidden_tag() }}
                            <div class="row form-group d-flex justify-content-center">
                                {{ form.url_avito.label(class="col-md-2") }}
                                <div class="col-md-9">
                                    {{ form.url_avito(class="col-md-12") }}
                                    <small class="form-text text-muted">Скопируйте ссылку из адресной строки браузера после применения нужных фильтров на avito.ru Пример: https://m.avito.ru/adygeya/transport</small>
                                </div>
                                <!-- Выводит сообщение об ошибке(подсказку) при неудачном прохождении валидации -->
                                {% for error in form.url_avito.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="row form-group d-flex justify-content-center">
                                {{ form.email.label(class="col-md-2") }}
                                <div class="col-md-9">
                                    {{ form.email(class="col-md-12") }}
                                    <small class="form-text text-muted">Введите email, на который отправить файл с результатами работы и нажмите "Скачать данные"</small>
                                </div>
                                <!-- Выводит сообщение об ошибке(подсказку) при неудачном прохождении валидации -->
                                {% for error in form.email.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-12 d-flex justify-content-center">
                                    <div class="form-check form-check-inline">
                                        {{ form.consent(class="form-check-input") }}
                                        {{ form.consent.label(class="form-check-label") }}
                                    </div>
                                    <!-- Выводит сообщение об ошибке(подсказку) при неудачном прохождении валидации -->
                                    {% for error in form.consent.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row btn-free-block">
                                <div class="col-lg-12 d-flex justify-content-center">
                                        {{ form.download(class="btn btn-primary") }}
                                </div>
                            </div>
                        </form>
                        <br>
                        <br>
                        <!-- Выводит сообщение после успешного прохождения валидации полей -->
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="jumbotron">
                            <p class="text-center">
                                {% for message in messages %}
                                Ваш заказ будет выполнен в ближайшее время. <br>
                                Увидеть ход выполнения заказа Вы можете на <a href="{{ url_for('order.order_detail', slug=orders.slug) }}"> странице заказа № {{ message }} </a> <br>
                                На почту отправлено письмо с данными о заказе. Проверьте папку 'Cпам', возможно оно там.

                                {% endfor %}
                            </p>
                        {% endif %}
                        {% endwith %}
                        {% endblock %}
                        </div>
                </div>
            </div>
        </div>
    </section>
    <section class="faq" id="faq">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 faq-h2">
                    <h2>ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h2>
                </div>
            </div>
            <div class="row faq-accordion">
                <div class="col-lg-12">
                        <div class="accordion" id="accordionExample">
                                <div class="card">
                                  <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Как быстро я смогу получить свой заказ?
                                      </button>
                                    </h5>
                                  </div>
                              
                                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                            После оплаты заказа начнется парсинг данных с Авито. В среднем скорость парсинга данных 1 000 объявлений за 30 мин. Вы получите ссылку и сможете увидеть ход работы. По окончанию Вам будет предоставлена ссылка на файлы. Файлы представлены в двух форматах CSV и XLSX, их можно открыть программой Excel. Сайт работает круглосуточно.
                                    </div>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            В каком виде будут скачанные данные с Авито? Можно ли будет фильтровать?
                                      </button>
                                    </h5>
                                  </div>
                                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                            Файлы представлены в двух форматах CSV и XLSX, их можно открыть программой Excel и при желании отфильтровать. 

                                            Иструкция для Microsoft Office Excel 2007 и новее 
                                            1. Выделите диапазон ячеек или всю таблицу 
                                            2. На вкладке "Данные" в группе "Работа с данными" нажмите кнопку "Удалить дубликаты" 
                                            3. Оставьте галочку на том столбце, из которого хотите удалить повторяющиеся значения и нажмите OK
                                    </div>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Как оплатить заказ?
                                      </button>
                                    </h5>
                                  </div>
                                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                            Оплатить базу данных телефонных номеров авито, базу объявлений авито можно через Yandex Money, QIWI, карты Visa и MasterCard. Форма для оплаты появится после формирования заказа в платной версии.
                                    </div>
                                  </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                Как можно с вами связаться?
                                        </button>
                                        </h5>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                        <div class="card-body">
                                                Для этого Вам необходимо написать нам на почту  info@avito-parser.ru
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingFive">
                                        <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                Мне не приходят письма о заказе на почту
                                        </button>
                                        </h5>
                                    </div>
                                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                        <div class="card-body">
                                                Во время выполнения заказа мы отправляем минимум 2 письма с данными заказа и результатами выполнения. 
                                                Если Вы не видите письма от нас в почтовом ящике, то проверьте: 
                                                1. Папку спам, возможно письма попали туда. Зайдите и сделайте отметку "Не спам", чтобы получать от нас письма. 
                                                2. Правильность ввода Вашего email при заказе. Если Вы ошиблись, то напишите нам на почту - поможем.
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </section>
    <section class="work-head" id="work-head">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center work-head-h2">
                    <h2>Задать вопрос</h2>
                    <p>Если Вам что-то не нравится, или хотите добавить что-то, то напишите нам. Вместе мы сделаем сервис лучше.</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                    <div class="col-lg-2">
                        <p>Ваше имя</p>
                    </div>
                    <div class="col-lg-9">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Введите Ваше имя">
                            </div>
                        </form>    
                    </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-2">
                    <p>Email</p>
                </div>
                <div class="col-lg-9">
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email для отправки ответа">
                            </div>
                        </form>    
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-2">
                    <p>Ваш вопрос</p>
                </div>
                    <div class="col-lg-9">
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Напишите Ваш вопрос. Мы обязательно ответим. Спасибо."></textarea>
                            </div>
                        </form>    
                    </div>
            </div>
            <div class="row work-head-btn">
                <div class="col-lg-12 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary">
                        <i class="fas fa-envelope"></i>
                        Отправить
                </button>
                </div>
            </div>
        </div>
    </section>
    <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>    
</body>
</html>