<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Блог о поиске целевой аудитории</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('blog.static', filename='css/bootstrap.min.css') }}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('blog.static', filename='css/blog-home.css') }}" />

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter50436994 = new Ya.Metrika2({
                        id:50436994,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/50436994" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('blog.index') }}">Блог о поиске целевой аудитории</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('blog.index') }}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('parser.parser') }}">Прасер</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">Блог о поиске целевой аудитории
          </h1>
          {% block content %}
          {% for post in pages.items %}
          <!-- Blog Post -->
          <div class="card mb-4">
            <img class="card-img-top" src="{{ url_for('blog.uploaded_files', filename=post.link_image) }}" alt="Card image cap" width="750" height="300">
            <div class="card-body">
              <h2 class="card-title">{{ post.title }}</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
              <a href="{{ url_for('blog.post_detail', slug=post.slug) }}" class="btn btn-primary">Читать &rarr;</a>
            </div>
          </div>
           {% endfor %}

          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            <li {% if not pages.has_prev %} class="page-item disabled" {% endif %}>
              <a class="page-link" href="./?page={{ pages.pref_num }}">&larr; Назад</a>
            </li>
            <li {% if  pages.has_prev %} class="page-item disabled" {% endif %}>
              <a class="page-link" href="./?page={{ pages.next_num }}">Вперед &rarr;</a>
            </li>
          </ul>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Поиск</h5>
            <form class="card-body" method="get">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." name="q" value="{{ request.args.get('q', '') }}">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="submit">Go!</button>
                </span>
              </div>
            </form>
          </div>
          {% endblock %}
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">© Copyright by Avito-Parser24.ru</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('blog.static', filename='js/jquery.min.js') }}"> </script>
    <script src="{{ url_for('blog.static', filename='js/bootstrap.bundle.min.js') }}"> </script>

  </body>

</html>
