<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Blog Home - Start Bootstrap Template</title>



  </head>

  <body>
    <div class="warpper" style="width: 700px; margin: auto">
		<h1>Flask-CKEditor Demo: Image Upload</h1>
		<form method="post" enctype="multipart/form-data">
			{{ form.csrf_token }}
			{{ form.title.label }}<br>
			{{ form.title }}<br><br>
			<input type="file" name="file"><br><br>
			{{ form.body.label }}<br>
			{{ form.body }}
			<br>
			{{ form.submit }}
		</form>
	</div>
    {{ ckeditor.load() }}
	{{ ckeditor.config(name='body') }}
  </body>
</html>