<!DOCTYPE html>
<html lang="ru">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Blog Home - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/blog-home.css" rel="stylesheet">

  </head>

  <body>
    {% block content %}
        <form action="{{ url_for('blog.edit_post', slug=post.slug) }}" method="post">
            <div class="warpper" style="width: 700px; margin: auto">

                {{ form.csrf_token }}
                {{ form.title.label }}<br>
                {{ form.title }}<br><br>
                {{ form.body.label }}<br>
                {{ form.body }}
                <br>
                {{ form.submit }}

	        </div>
    {{ ckeditor.load() }}
	{{ ckeditor.config(name='body') }}
        </form>
    {% endblock %}

  </body>

</html>