<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Blog Home - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/blog-home.css" rel="stylesheet">

    <!----------------------------------------------------------->

          <!-- include libraries(jQuery, bootstrap) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <!-- include summernote css/js -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>

  </head>

  <body>
    {% block content %}
        <form action="{{ url_for('blog.create_post') }}" method="post">
            <div class="row form-group d-flex justify-content-center">
                {{ form.title.label(class="col-md-2") }}
                <div class="col-md-9">
                    {{ form.title(class="col-md-6 form-control") }}
                </div>
            </div>
            <div class="row form-group d-flex justify-content-center">
                {{ form.body.label(class="col-md-2") }}
                <div class="col-md-9">
                    {{ form.body(class="col-md-6 form-control") }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary col-md-2">Создать пост</button>
        </form>
    {% endblock %}

  </body>

</html>