<div>
    <p>Уважаемый клиент!</p>
    <br>
    <p>Ваш заказ на сбор данных с сайта Авито уже выполняется.</p>
    {% block content %}
    <p>Посмотреть ход выполнения заказа Вы можете на странице <a href="{{ 'http://avito-parser24.ru/orders/' + orders.slug }}">информация по заказу</a></p>
    {% endblock %}
    <br>
    <p>Когда заказ будет выполнен мы пришлем данные Вам на почту.</p>
    <br>
    <hr>
    <p>Пожалуйста, не отвечайте на это письмо, это автоматическое уведомление.</p>
    <br>
    <p>С уважением, команда сервиса Avito-Parser</p>
</div>