<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Быстрый и удобный парсер номеров телефонов и других данных с сайта Avito.ru.Прямо из браузера без применения специальных программ и в любое время." />
  <meta name="keywords" content="Парсер авито, Парсер номеров авито, Прасинг авито" />

  <!-- Page Title -->
  <title>Парсер Авито Онлайн</title>
  <!-- / -->

  <!---Font Icon-->
  <link href="{{ url_for('static', filename='plugin/font-awesome/css/fontawesome-all.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='plugin/et-line/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='plugin/themify-icons/themify-icons.css') }}" rel="stylesheet">
  <!-- / -->

  <!-- Plugin CSS -->
  <link href="{{ url_for('static', filename='plugin/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='plugin/owl-carousel/css/owl.carousel.min.css') }}" rel="stylesheet">
  <!-- / -->

  <!-- Theme Style -->
  <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
  <link type="text/css" href="{{ url_for('static', filename='css/color/default.css') }}" rel="stylesheet" id="color_theme">
  <link type="text/css" href="{{ url_for('static', filename='css/s.css') }}" rel="stylesheet">
  <!-- / -->

  <!-- Favicon -->
  <link rel="icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
  <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
  <!-- / -->

  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
      (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
              try {
                  w.yaCounter50436994 = new Ya.Metrika2({
                      id:50436994,
                      clickmap:true,
                      trackLinks:true,
                      accurateTrackBounce:true,
                      webvisor:true
                  });
              } catch(e) { }
          });

          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = "https://mc.yandex.ru/metrika/tag.js";

          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
      })(document, window, "yandex_metrika_callbacks2");
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/50436994" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
</head>

<!-- Body Start -->
<body data-spy="scroll" data-target="#navbarHeader" data-offset="100">

  <!-- Loading -->
  <div id="loading" class="loader-wrapper theme-g-bg">
    <div class="center">
      <div class="d d1"></div>
      <div class="d d2"></div>
      <div class="d d3"></div> 
      <div class="d d4"></div>  
      <div class="d d5"></div>
    </div>
  </div>
  <!-- / -->

  <!-- Header -->
  <header class="header header-01">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <!-- Brand -->
        <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='img/logo.png') }}" title="" alt=""></a>
        <!-- / -->

        <!-- Mobile Toggle -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <!-- / -->

        <!-- Top Menu -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarHeader">
          <ul class="navbar-nav ml-auto">
            <li><a class="nav-link active" href="#home">Home</a></li>
            <li><a class="nav-link" href="#features">Как это работает?</a></li>
            <li><a class="nav-link" href="#solutions">Что Вы получите</a></li>
            <li><a class="nav-link" href="#testimonial">Отзывы о сервисе</a></li>
            <li><a class="nav-link" href="{{ url_for('blog.index') }}">Блог</a></li>
          </ul>
        </div>
        <!-- / -->
      </nav> <!-- Navbar -->     
    </div>
  </header>
  <!-- Header End -->
  
  <!-- Main Start -->
  <main>

    <!-- Home Banner -->
    <section id="home" class="home-banner theme-after theme-bg">
      <div class="container">
        <div class="row full-screen align-items-center">
          <div class="col-md-6">
            <div class="home-left sm-m-100px-t">
              <span>Облачный онлайн парсер</span>
              <h1 class="font-alt">ПАРСЕР КОНТАКТОВ С АВИТО</h1>
              <p>Быстрый и удобный парсер номеров телефонов и других данных с сайта Avito.ru.
                Прямо из браузера без применения специальных программ и в любое время.</p>
              <div class="row">
                <a class="m-btn-white s" href="{{ url_for('parser.demo_parser') }}">Попробовать бесплатно</a>
                <a class="m-btn-white" href="{{ url_for('parser.parser') }}">Полная версия</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 home-right sm-m-60px-t sm-m-80px-b">
            <img src="{{ url_for('static', filename='img/promo_img.png') }}" title="" alt="">
          </div>
        </div>
      </div> <!-- container -->
    </section>
    <!-- / -->

    <!-- Features -->
    <section id="features" class="feature-section section grey-bg">
      <div class="container">
        <div class="row justify-content-center title-section m-60px-b sm-m-40px-b">
          <div class="col-md-8 col-lg-5 text-center">
            <h2 class="font-alt">Как работает парсер?</h2>
            <p>Мы постарались сделать максимально простой и интуитивно понятный парсер, что бы получить результат нужно сделать всего 3 простых шага </p>
          </div> <!-- col -->
        </div> <!-- row -->

        <div class="row">
          <div class="col-md-4">
            <div class="feature-box sm-m-30px-b">
              <div class="f-icon"><i class="icon-genius theme-color"></i></div>
              <h4 class="m-25px-t">Скопируйте ссылку</h4>
              <p>Выберите на сайте Авито нужную категорию или подкатегорию и скопируйте ссылку</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="feature-box sm-m-30px-b">
              <div class="f-icon"><i class="icon-documents theme-color"></i></div>
              <h4>Вставьте ссылку</h4>
              <p>Вставьте ссылку с Авито в парсер на сайте выбрав нужные поля для парсинга и формат результирующего файла</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="feature-box sm-m-30px-b">
              <div class="f-icon"><i class="icon-recycle theme-color"></i></div>
              <h4>Получите результат</h4>
              <p>После завершения парсинга Вы получите ссылку на собранные данные в удобном для вас формате</p>
            </div>
          </div>
        </div>
      </div> <!-- container -->
    </section>
    <!-- / -->

    <!-- Feature -->
    <section id="solutions" class="overview-section-large section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5">
            <div class="std-box m-50px-r md-m-0px-r">
              <div class="title-section m-20px-b">
                <h2 class="font-alt left">Какие данные можно получить?</h2>
              </div>
              <ul>
                            <li class="d-flex">
                                <i class="fas fa-check-circle"></i>
                                <p>Телефон объявления</p>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-check-circle"></i>
                                <p>Контактное лицо</p>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-check-circle"></i>
                                <p>Цена объявления</p>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-check-circle"></i>
                                <p>Заголовок объявления</p>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-check-circle"></i>
                                <p>Город, район, метро, адрес</p>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-check-circle"></i>
                                <p>Район, метро, адрес</p>
                            </li>
                        </ul>

            </div> <!-- / -->
          </div> <!-- col -->

          <div class="col-md-7 text-right sm-m-60px-t">
            <img src="{{ url_for('static', filename='img/promo2_img.png') }}" title="" alt="">
          </div> <!-- col -->

        </div> <!-- row -->
      </div> <!-- container -->
    </section>
    <!-- / -->

    <!-- Feature -->    
    <section class="overview-section section grey-bg">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 text-center">
            <img class="img-shadow" src="{{ url_for('static', filename='img/promo3-img.png') }}" title="" alt="">
          </div> <!-- col -->

          <div class="col-md-6">
            <div class="std-box p-50px-l md-p-0px-l sm-m-30px-t">
              <div class="title-section  m-20px-b">
                <h2 class="font-alt left">В каком формате можно получить данные</h2>
              </div>
              <p> В данный момент вы можете получить данные в двух форматах  Microsoft Excel и CSV. Если вы хотите выгрузить данные в другом формате напишите нам в чат или на нашу электронную почту support@avito-parser24.ru.</p>

              <p class="m-30px-b">Ниже вы можете скачать пример файла любого из предоставленных вариантов.</p>
              <a href="{{ url_for('orders.download', filename='Заказ №68.xlsx') }}" class="m-btn-theme">Пример файла Exel</a>
              <a href="{{ url_for('orders.download', filename='Заказ №70.csv') }}" class="m-btn-theme">Пример файла CSV</a>
            </div> <!-- / -->
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- container -->
    </section>
    <!--  -->

    <!-- Testimonial -->
    <section id="testimonial" class="section testimonial-section">
      <div class="container">

        <div class="row justify-content-center title-section m-60px-b sm-m-40px-b">
          <div class="col-md-8 col-lg-5 text-center">
            <h2 class="font-alt">Что наши удивительные клиенты говорят о нас</h2>
          </div> <!-- col -->
        </div>

        <div class="row justify-content-center">
          <div class="col-md-12">
              <div id="client-slider-single" class="owl-carousel">
                <div class="testimonial-col theme-after">
                    <div class="avtar-box">
                      <span class="avtar">
                        <img src="{{ url_for('static', filename='img/Anatolii-perov.jpg') }}" alt="Shark" title="Shark" />
                      </span>
                      <h6><label>Анатолий Петров</label><span>SMM таргетолог</span></h6>
                    </div>
                    <div class="speac">
                      <p>Спасибо разработчиком за столь удобный сервис.</p>
                    </div>
                </div> <!-- col -->  

                <div class="testimonial-col theme-after">
                    <div class="avtar-box">
                      <span class="avtar">
                        <img src="{{ url_for('static', filename='img/Anna.jpg') }}" alt="Shark" title="Shark" />
                      </span>
                      <h6><label>Анна</label><span>Отдел маркетинга</span></h6>
                    </div>
                    <div class="speac">
                      <p> Супер! И не надо никаких програм скачивать! Спасибо.</p>
                    </div>
                </div> <!-- col -->  

                <div class="testimonial-col theme-after">
                    <div class="avtar-box">
                      <span class="avtar">
                        <img src="{{ url_for('static', filename='img/Nataliya.jpg') }}" alt="Shark" title="Shark" />
                      </span>
                      <h6><label>Наталия</label><span>Предприниматель</span></h6>
                    </div>
                    <div class="speac">
                      <p>Нужно было собрать телефоны по одному району города, нажала 1 кнопку и они скачались. Спасибо!</p>
                    </div>
                </div> <!-- col -->
              </div> <!-- owl -->
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- container -->
    </section>
    <!--  Testimonial End  -->

  </main>
  <!-- Main End -->

    

  <!-- Footer -->
  <footer class="footer theme-g-bg">
    <section class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-lg-5 sm-m-15px-tb">
            <h4 class="font-alt">О сервисе</h4>
            <p class="footer-text">Облачный онлайн парсер объявлений с Авито. Вам больше не потребуется скачивать сторонние программы,
              покупать и настраивать прокси. Мы обовсем позаботились и теперь можно парсить нужные данные прямо из браузера на сайте.</p>
          </div> <!-- col -->


          <div class="col-md-3 col-lg-3 sm-m-15px-tb">
            <h4 class="font-alt">Мы расположены</h4>
            <p>Россия, Москва</p>
            <p><span>E-Mail:</span> sapport@avito-parser24.ru </p>
            <!-- <p><span>Phone:</span> (123) 123-456</p> -->
          </div> <!-- col -->

        </div>
        
        <div class="footer-copy">
          <div class="row">
            <div class="col-12">
              <p>© Copyright by Avito-Parser24.ru</p>
            </div><!-- col -->
          </div> <!-- row -->
        </div> <!-- footer-copy -->

      </div> <!-- container -->   
    </section>
  </footer>
  <!-- / -->

  <!-- jQuery -->
  <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-migrate-3.0.0.min.js') }}"></script>

  <!-- Plugins -->
  <script src="{{ url_for('static', filename='plugin/bootstrap/js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugin/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugin/owl-carousel/js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugin/particles/particles.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugin/particles/particles-app.js') }}"></script>

  <!-- custom -->
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>
<!-- Body End -->

</html>