<!DOCTYPE html>
<html lang="en">
    {% block content %}
        <span>{{ ads }}</span>
    {% endblock %}
</html>

<script>
        function show(){
            $.ajax({url: "{{ 'http://127.0.0.1:5000/orders/' + orders.slug }}",
            type: "POST",
            chase: false,
            success: function(html) { $('#save_ads').html(html); },
            });
        }
        setInterval('show()',1000);
    </script>


var file = json.complite
                    else if(file=="False"){  // Начало условия if
                    $('#file').html("<div><p>Подготовка файла</p></div>");// тут Ваш код
                    }
                    else if(file=="True"){
                    $('#file').html("<div><a href="{{ orders.download, filename=name_file) }}">avito.csv</a></div>");
                    }



else if(file=="False"){  // Начало условия if
                    $('#file').html("<div><p>Подготовка файла</p></div>");// тут Ваш код
                    }