<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Парсер Авито онлайн</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('orders.static', filename='css/style.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('orders.static', filename='css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter50436994 = new Ya.Metrika2({
                        id:50436994,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/50436994" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
    <header class='header' id='header'>
        <div class="conteiner">
            <div class="row">
                <div class="col-lg-2 ml-auto menu">
                    <a href="http://avito-parser24.ru/">
                        <img src="{{ url_for('orders.static', filename='image/ic-logo.png')}}" alt="logo" class="logo">
                    </a>
                </div>
                <div class="col-lg-8 ">
                    <nav>
                        <ul class="menu d-flex justify-content-center">
                            <li class="menu__item">
                                <a href="{{ url_for('parser.parser') }}">Парсер</a>
                            </li>
                            <li class="menu__item">
                                <a href="avito-parser24.ru/#advantages">Приемущества</a>
                            </li>
                            <li class="menu__item">
                                <a href="avito-parser24.ru/#about">Попробовать бесплатно</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section class="card-info">
        <div class="container">
            <div class="card">
                {% block content %}
                <div class="card-header">
                    <h2 class="text-center"> Информация по заказу № {{ orders.id }}</h2>
                </div>
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="name">Дата начала:</p>
                        </div>
                        <div class="col-sm-6">
                            <p>{{ time }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="name">Ссылка на стартовое объявление:</p>
                        </div>
                        <div class="col-sm-6">
                            <p>{{ orders.ref }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="name">Скачано объявлений:</p>
                        </div>
                        <div class="col-sm-6">
                            {% if orders.complete == False  %}
                            <p><span id="save_ads">{{ orders.get_save_ads() }}</span> из <span id="collected_ads">{{ orders.get_collected_ob() }}</span></p>
                            {% else %}
                            <p>{{ orders.save_ads }} из {{ orders.number_ads }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="name">Статус работы:</p>
                        </div>
                        <div class="col-sm-6" id="prog">
                            {% if orders.complete == False %}
                                {% if orders.get_progress() == 0 %}
                                <p>{{ 'Сбор объявлений' }}</p>
                                {% elif orders.get_progress() == 100 %}
                                <p>{{ 'Работа завершена' }}</p>
                                {% else %}
                                <p>{{ 'Парсинг объявлений' }}</p>
                                {% endif %}
                            {% else %}
                                <p>{{ 'Работа завершена' }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="name">Файл с данными:</p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                <span class="t_xls_file" id="file">

                                        <div id="x">
                                            <p>Подготовка файла</p>
                                        </div>

                                        <div id="s">
                                            <a href="{{ url_for('orders.download', filename=name_file) }}">{{ name_file }}</a>
                                        </div>

                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="progress" style="height: 20px;">
                        <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" id="progress" role="progressbar" style="width: {{ orders.get_progress() }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Парсинг объявлений</div>
                    </div>
                    <div class="card-footer">
                        <p>Есть вопросы? Напишите на почту
                            <i class="far fa-envelope"></i>
                            <a href="#">sapport@avito-parser24.ru</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function show() {
            $.ajax({
                type: "POST",
                url:  "{{ 'http://avito-parser24.ru/orders/' + orders.slug }}",
                type: 'POST',
                success: function(response) {
                    var json = jQuery.parseJSON(response)
                    var progress = json.prog
                    var file = json.complite
                    if(progress==100){  // Начало условия if
                    $('#prog').html("<p>Работа завершена</p>");// тут Ваш код
                    }
                    else if(progress==0){
                    $('#prog').html("<p>Сбор объявлений</p>");
                    }
                    else { // Конец условия if
                    $('#prog').html("<p>Парсинг объявлений</p>");
                    }
                    if(file=="False"){
                    $('#x').css('visibility',  'visible');
                    $('#s').css('visibility',  'hidden');
                    }
                    else if(file=="True"){
                    $('#s').css('visibility',  'visible');
                    $('#x').css('visibility',  'hidden');
                    }
                    $('#save_ads').html(json.save_ads)
                    console.log(response);
                    $('#collected_ads').html(json.collected_ads)
                    console.log(response);
                    $('#progress').css('width', json.progress);
                    console.log(response);
                    $('#progress').html(json.bar)
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
        setInterval('show()',1000);
    </script>
    {% endblock %}
</body>
</html>
