

body{

}

ul, li{
    display: block;
    margin: 0;
    padding: 0;
}

h1, h2{
    font-weight: 700;
}

h3{
    font-weight: 400;
}

.title{
    padding-top: 30px;
    padding-bottom: 70px;
    color: #333333;
}

.title_main{
    font-size: 32px;
}

.title_text{
    font-size: 17px;
    margin-top: 10px;
}

/* Header */
.header{
    background-image:url(slider-01.jpg);
    color:#ffffff;
    padding-bottom: 240px;
}

.menu{
    margin-top: 10px;
}

.menu__item{
    margin: 0 15px;

}

.menu__item a{
    font-size: 13px;
    color: #ffffff;
    font-weight: 700;
}

.menu__item a:hover{
    color: #ffffff;
}

.offer{
    margin-top: 150px;
    margin-bottom: 50px;
}

.offer_title{
    font-size: 60pt;
   
}

.offer_text{
    color: #e5e5e5;
    font-size: 20pt;
    
}

.free_one{
    margin-right: 10px;
}

.full_one{
    background-color: #03973d;
    border-color: #03973d;
}

/* Второй экран */

.feature_icon:before{
    font-size: 100px;
    color: #333333;
}

i{
    color: #0aaaf1;
    margin-bottom: 15px;
}
.fa-database{
    color: #0b2e13;
}
.feature{
    padding-bottom: 50px;
}

/* Третий экран */

.about{
    background-color: #ebeaea;
    padding-top: 50px;
}

.p-about{
    font-size: 18px;
    font-weight: 400;
}

.fa-check-circle{
    color: #6ce679;
    font-size: 17px;
    margin-right: 10px;
}

.green{
    background-color: #6ce679;
}

.button-two{
    margin-top: 25px;
    padding-bottom: 50px;
}

/* Четвертый экран */

.result{
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-result{
    margin-top: 50px;
}

/* Пятый экран */

.how-work{
    background-color: #ebeaea;
    margin-bottom: 50px;
}

.icobox-icon {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #434c59;
    color: #fff;
    font-size: 2.6rem;
    text-align: center;
    margin-bottom: 20px;
}

.fa-money-bill-alt{
    padding-left: 5px;
}

.btn5{
    margin-top: 20px;
}

.p-work{
    margin-top: 10px;
}

/* Шестой экран */

.block_free{
    margin-bottom: 60px;
}

.red{
    color: #ff0000;
}

.free_form{
    margin-top: 30px;
}

.btn-free-block{
    margin-top: 30px;
}

/* Седьмой экран */

.show {
    display: block;
}

.faq{
    background-color: #ebeaea;
    padding-bottom: 50px;
}

.faq-h2{
    padding-top: 40px;
}

.faq-accordion{
    padding-top: 40px;
}

/* Восьмой экран */

.work-head-h2{
    margin-bottom: 20px;
}

.work-head-btn{
    padding-top: 20px;
    padding-bottom: 40px;
}