<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Парсер Авито онлайн</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('parser.static', filename='css/style.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('parser.static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter50436994 = new Ya.Metrika2({
                        id:50436994,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/50436994" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
    <header class='header' id='header'>
        <div class="conteiner">
            <div class="row">
                <div class="col-lg-2 ml-auto menu">
                    <a href="http://avito-parser24.ru/">
                        <img src="{{ url_for('static', filename='image/ic-logo.png')}}" alt="logo" class="logo">
                    </a>
                </div>
                <div class="col-lg-8 ">
                    <nav>
                        <ul class="menu d-flex justify-content-center">
                            <li class="menu__item">
                                <a href="#">Парсер</a>
                            </li>
                            <li class="menu__item">
                                <a href="avito-parser24.ru/#advantages">Приемущества</a>
                            </li>
                            <li class="menu__item">
                                <a href="avito-parser24.ru/#about">Попробовать бесплатно</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section class="card-info">
        <div class="container d-flex justify-content-center">
            <div class="col-sm-6 card">
                {% block content %}
                <div class="card-header">
                    <h2 class="text-center"> Подтверждение заказа</h2>
                </div>
                <div class="card-body text-center">
                    <div class="row text-center">
                        <div class="col-sm-6">
                            <p style="color:#1E90FF"> Количество записей:</p>
                        </div>
                        <div class="col-sm-6">
                              {{ k }} строк
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-6">
                            <p style="color:#1E90FF"> Стоимость:</p>
                        </div>
                        <div class="col-sm-6">
                              {{ price }} руб
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-6">
                            <p style="color:#1E90FF"> Стоимость с комиссией:</p>
                        </div>
                        <div class="col-sm-6">
                              {{ commision_price }} руб
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-6">
                            <p style="color:#1E90FF"> Оплата:</p>
                        </div>
                        <div class="col-sm-6">
                              {{ pay }}
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-6">
                            <p style="color:#1E90FF">E-mail для отправки данных по заказу:</p>
                        </div>
                        <div class="col-sm-6">
                              {{ email }}
                        </div>
                    </div>
                    <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
                        <input type="hidden" name="receiver" value="410017214657711">
                        <input type="hidden" name="formcomment" value="">
                        <input type="hidden" name="short-dest" value="Заказ №"{{ order.id }}>
                        <input type="hidden" name="label" value={{ order.id }}>
                        <input type="hidden" name="quickpay-form" value="small">
                        <input type="hidden" name="targets" value="транзакция" {{ order.id }}>
                        <input type="hidden" name="sum" value={{ commision_price }} data-type="number">
                        <input type="hidden" name="comment" value="">
                        <input type="hidden" name="need-fio" value="false">
                        <input type="hidden" name="need-email" value="false">
                        <input type="hidden" name="need-phone" value="false">
                        <input type="hidden" name="need-address" value="false">
                        <input type="hidden" name="paymentType" value={{ pay_type }}>
                        <input type="submit" value="Оплатить">
                    </form>
                        <small class="form-text text-muted">Обработка платежа занимает около 3 минут</small>
                        <small class="form-text text-muted">После оплаты нажмите "Вернуться на сайт магазина"</small>
                        <small class="form-text text-muted">Письмо с данными о заказе будет отправлено на Вашу почту после получения оплаты. Проверьте папку 'Cпам', возможно оно там.</small>
                </div>
                {% endblock %}
            </div>
        </div>
    </section>
    <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
