<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Парсер Авито онлайн</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('parser.static', filename='css/style.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('parser.static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter50436994 = new Ya.Metrika2({
                        id:50436994,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/50436994" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
    <header class='header' id='header'>
        <div class="conteiner">
            <div class="row">
                <div class="col-lg-2 ml-auto menu">
                    <a href="http://avito-parser24.ru/">
                        <img src="{{ url_for('static', filename='image/ic-logo.png')}}" alt="logo" class="logo">
                    </a>
                </div>
                <div class="col-lg-8 ">
                    <nav>
                        <ul class="menu d-flex justify-content-center">
                            <li class="menu__item">
                                <a href="#">Парсер</a>
                            </li>
                            <li class="menu__item">
                                <a href="http://avito-parser24.ru/#advantages">Приемущества</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section class="card-info">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center"> Информация о парсере</h2>
                </div>
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Мы не используем готовые базы данных. Вся информация собирается напрямую с сайта Авито.</p>
                            <p>База Авито сохраняется в csv или xlsx файл и высылается на указанный email после оплаты и сбора информации.</p>
                            <p class="green">Стоимость одного объявления: 0.03 руб. (минимальный заказ 2 руб.)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="card-info">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Онлайн парсер Авито</h1>
                </div>
                <div class="card-body">
                {% block content %}
                    <form action="" method="POST">
                    <div class="container">
                        <div class="row form-group d-flex justify-content-center">
                            <div class="col-md-2">
                                {{ form.csrf_token }}
                                {{ form.url_avito.label(for="exampleFormControlTextarea1") }}
                            </div>
                            <div class="col-md-10">
                                {{ form.url_avito(class="form-control" ,id="exampleFormControlTextarea1", rows="1") }}
                                <small class="form-text text-muted">Скопируйте ссылку из адресной строки браузера после применения нужных фильтров на avito.ru <br> Пример: https://m.avito.ru/adygeya/transport</small>
                            </div>
                            {% for error in form.url_avito.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="container">
                        <div class="row form-group d-flex justify-content-center">
                            <div class="col-md-2">
                                {{ form.limit.label(for="exampleFormControlTextarea1")}}
                            </div>
                            <div class="col-md-10">
                                {{ form.limit(class="form-control", id="formGroupExampleInput", placeholder="0 - Все объявления") }}
                                <small class="form-text text-muted">Укажите сколько объявлений нужно скачать по каждой ссылке. Если укажите 0, то скачаются все объявления по ссылкам.
                                    Лимит не может быть более 4900, и обязательно выбирать категорию (ограничение Авито) </small>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row form-group d-flex justify-content-center">
                            <div class="col-md-4">
                                <label for="exampleFormControlTextarea1">Поля для парсинга</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" name="our_name" value="1" checked="checked" disabled/>
                                        Телефон
                                    </label>
                                </div>
                                <div class="form-check">
                                    {{ form.contact_face }}
                                    {{ form.contact_face.label(class="form-check-label") }}
                                </div>
                                <div class="form-check">
                                    {{ form.ad_title }}
                                    {{ form.ad_title.label(class="form-check-label") }}
                                </div>
                                <div class="form-check">
                                    {{ form.ad_description }}
                                    {{ form.ad_description.label(class="form-check-label") }}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    {{ form.ad_price }}
                                    {{ form.ad_price.label(class="form-check-label") }}
                                </div>
                                <div class="form-check">
                                    {{ form.city }}
                                    {{ form.city.label(class="form-check-label") }}
                                </div>
                                <div class="form-check">
                                    {{ form.address }}
                                    {{ form.address.label(class="form-check-label") }}
                                </div>
                                <div class="form-check">
                                    {{ form.ad_link }}
                                    {{ form.ad_link.label(class="form-check-label") }}
                                </div>
                        </div>
                         <div class="container selects">
                         <div class="form-group row">
                             {{ form.type_file.label(class="col-md-2") }}
                             {{ form.type_file(class="col-md-9")}}
                         </div>
                    </div>
                        <div class="btns">
                            <button  name="pay_btn" class="btn btn-primary" value="Расчитать стоимость" type="submit" >
                                Расчитать стоимость
                            </button>
                        </div>
            </div>
        </div>
                    <!-- Выводит сообщение после успешного прохождения валидации полей -->
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="row" id="jumbotron">
                        <div class="alert alert-secondary col-md-9 ml-auto">
                            {% for message in messages %}
                            <p class="text-center">Найдено объявлений: {{ kol_ob }}. Стоимость: {{ price }} руб.  </p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ p_form.email.label(class="col-md-2") }}
                        <div class="col-md-9">
                            {{ p_form.email(class="col-md-12", placeholder="Email для отправки результатов") }}
                            <small class="form-text text-muted">Введите email, на который отправить файл с результатами работы и нажмите "Скачать данные"</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ p_form.pay_select.label(class="col-md-2") }}
                        <div class="col_md-9">
                            {{ p_form.pay_select(class="col-md-12")}}
                            <small class="form-text text-muted">Хотите перевести другим способом? Есть вопросы? <br> Напишите на почту <a href="mailto:sapport@avito-parser24.ru">sapport@avito-parser24.ru</a></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-10  ml-auto">
                            <button  name="pay_btn" class="btn btn-primary" value="Оплатить заказ" type="submit" data-toggle="modal" data-target="#exampleModal" >
                                Оплатить заказ
                            </button>
                        </div>
                    </div>
                    {% endif %}
                    {% endwith %}
                    </form>
         {% endblock %}
    </section>

    <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script>
        $(function(){
          $('html, body').animate({
            scrollTop: $('#jumbotron').offset().top
          }, 2000);
        });
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>

