<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="ru"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="ru"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="ru"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Сраница ошибки 404</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style_404.css') }}">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	    <!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
</head>
<body>
<div class="comingcontainer">
    <div class="checkbacksoon">
		<p>
			<span class="go3d">4</span>
			<span class="go3d">0</span>
			<span class="go3d">4</span>
			<span class="go3d">!</span>
			
		</p>
        
        <p class="error">
		Похоже, вы выбрали неправильный путь.<br> Не волнуйтесь, время от времени, это случается с каждым из нас.<br>
        </p>

        <nav>
            <ul>
                <li>
					<a href="http://avito-parser24.ru">Главная</a>
				</li>
                <li class="nav-item active">
				  <a class="nav-link" href="{{ url_for('blog.index') }}">Блог</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{{ url_for('parser.parser') }}">Прасер</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="http://avito-parser24.ru/#advantages">Наши приемущества</a>
				</li>
            </ul>	
        </nav>
    
	</div>
</div>

</body>
</html>