<div>
    <p>Уважаемый клиент!</p>
    {% block content %}
    <br>
    <p>Данные по заказу №{{ id }} собраны. Вы можете их скачать по ссылкам ниже.</p>
    <p>Файл в формате csv <a href="http://avito-parser24.ru/orders/{{ slug }}">скачать из кабинета заказа</a></p>
    {% endblock %}
    <br>
    <p>Желаем Вам удачи в работе и надеемся на долгое и плодотворное сотрудничество!</p>
    <br>
    <hr>
    <p>Пожалуйста, не отвечайте на это письмо, это автоматическое уведомление.</p>
    <br>
    <p>С уважением, команда сервиса Avito-Parser</p>
</div>