<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Парсер Авито онлайн</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style2.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
    <header class='header' id='header'>
        <div class="conteiner">
            <div class="row">
                <div class="col-lg-2 ml-auto menu">
                    <a href="http://127.0.0.1:5000/">
                        <img src="{{ url_for('order.static', filename='image/ic-logo.png')}}" alt="logo" class="logo">
                    </a>
                </div>
                <div class="col-lg-8 ">
                    <nav>
                        <ul class="menu d-flex justify-content-center">
                            <li class="menu__item">
                                <a href="#">Парсер</a>
                            </li>
                            <li class="menu__item">
                                <a href="http://avito-parser24.ru/#advantages">Приемущества</a>
                            </li>
                            <li class="menu__item">
                                <a href="#about">Попробовать бесплатно</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section class="card-info">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center"> Информация о парсере</h2>
                </div>
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Мы не используем готовые базы данных. Вся информация собирается напрямую с сайта Авито.</p>
                            <p>База Авито сохраняется в csv или xlsx файл и высылается на указанный email после оплаты и сбора информации.</p>
                            <p class="green">Стоимость одного объявления: 0.03 руб. (минимальный заказ 2 руб.)</p>
                            <p class="red">У нашей команды Вы можете заказать парсер любого сайта, для этого пишете на наш эмеил (godikos@yandex.ru)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="card-info">
        <div class="container">
            {% block content %}
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Онлайн парсер Авито</h2>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row form-group d-flex justify-content-center">
                            <div class="col-md-2">
                                <label for="exampleFormControlTextarea1">Ссылка из авито</label>
                            </div>
                            <div class="col-md-10">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                                <small class="form-text text-muted">Скопируйте ссылку из адресной строки браузера после применения нужных фильтров на avito.ru <br> Пример: https://m.avito.ru/adygeya/transport</small>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row form-group d-flex justify-content-center">
                            <div class="col-md-2">
                                <label for="exampleFormControlTextarea1">Лимит объявлений</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="0 - Все объявления">
                                <small class="form-text text-muted">Укажите сколько объявлений нужно скачать по каждой ссылке. Если укажите 0, то скачаются все объявления по ссылкам.
                                    Лимит не может быть более 4900, и обязательно выбирать категорию (ограничение Авито) </small>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row form-group d-flex justify-content-center">
                            <div class="col-md-4">
                                <label for="exampleFormControlTextarea1">Поля для парсинга</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" name="our_name" value="1" checked="checked" disabled/>
                                        Телефон
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"  value="" />
                                        Контактное лицо
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"  value="" />
                                        Заголовок объявления
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"  value="" />
                                       Описание объявления
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" value="" />
                                        Цена объявления
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"  value="" />
                                        Город
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"  value="" />
                                        Район, метро, адрес
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"  value="" />
                                        Ссылка на объявление
                                    </label>
                                </div>
                        </div>
                        <div class="btns">
                            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Расчитать стоимость</button>
                        </div>
            </div>
        </div>
         {% endblock %}
    </section>

    <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>    
</body>
</html>